.game{
<<<<<<< HEAD
    margin-top: 200px;
=======
    margin-top: 50px;

>>>>>>> origin/master
}

body{
        background: url('../images/fondovegas.jpg');
    background-size : 100%;
    background-size: contain;
/*    background-repeat: repeat-x;*/
    background-position: left bottom;
    background-color: #060606;
}
